body { font: 62.5% "Trebuchet MS", sans-serif; margin: 10px; color: #666666; }

h1 { border: 1px solid #e78f08; background: #f6a828 url('../images/ui-bg_gloss-wave_35_f6a828_500x100.png') 50% 50% repeat-x; color: #ffffff; font-weight: bold; padding: 5px 10px 5px 10px; }

#wrap { width: 900px; }
img.chart { margin-left: auto; margin-right: auto; display: block; margin-bottom: 10px; }

table { table-layout: auto; width: 100%; border: 1px solid #e78f08; }
	tr {}
		tr.detail_row { display: none; }
			tr th { background: #f6a828 url('../images/ui-bg_gloss-wave_35_f6a828_500x100.png') 50% 50% repeat-x; color: white; }
			
			tr td { padding: 0 0.1em; white-space: nowrap; border: 1px solid transparent; }
			tr.odd td { background: #EEEEEE; }
			tr.even td { background: #F4F4F4; }
			tr:hover td { border: 1px solid #fbcb09; background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;  color: #c77405; outline: none; }
			tr.detail_row { background: #fcfcfc; }
			tr.detail_toggle { cursor: pointer; }
			
			tr .last { width: 10px; }
				
				tr td.last img { float: right; padding-bottom: 1px; }
				tr .last .ui-icon { background-image: url(../images/ui-icons_ffd27a_256x240.png); }
				tr:hover .last .ui-icon { background-image: url(../images/ui-icons_ef8c08_256x240.png); }
				
			tr td.numerical { text-align: right; }

.ui-widget { font-size: 1em; }
.ui-widget-content { background: white; border: 1px solid #FBD850; color: #666666; }
.ui-accordion .ui-accordion-content { padding: 1em; }
